:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  letter-spacing: -1.68px;
  font-size: 36px;
}

#app {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#topbar {
  display: flex;
  justify-content: flex-start;
  
  /* border-bottom: 2px solid var(--border); */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#topbar-title {
  margin-left: 15px;
  display: flex;
}

#topbar-flag {
  margin-right: 10px;
}

#answer-input {
  display: flex;
}

#answer-input > button {
  margin-left: 5px;
}